@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;1,300&display=swap");
html {
  font-family: "Arial Rounded MT Bold";
}

/*Navbar*/
.navbar {
  display: flex;
  flex-direction: right;
  flex-flow: row;
  list-style: none;
  gap: 1rem;
  margin: 30vw;
  margin-top: 0px;
  background-color: #db524d;
  align-content: center;
}

.navbar :first-child {
  flex: auto;
}

/*body*/
section {
  margin-left: 33vw;
  margin-right: 33vw;
  margin-bottom: 7vh;
  line-height: 2;
}

h1,
h2 {
  color: hsl(357, 50%, 22%);
}

h1 {
  font-size: 2rem;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: hsl(357, 12%, 42%);
}

ul {
  line-height: 2;
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #db524d;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -2em;
}

ol {
  line-height: 2;
}

strong {
  font-family: "Arial Rounded MT Bold";
  color: #db524d;
}
